.product-form {
  background: linear-gradient(to bottom right, #fff8e1, #ffe0b2);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.4);
}

.product-form h3 {
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  color: #d4af37;
  text-align: center;
  margin-bottom: 20px;
}

.product-form .form-label {
  font-weight: 600;
  color: #6d4c41;
}

.product-form .form-control,
.product-form .form-select {
  border-radius: 8px;
  border: 1px solid #d7ccc8;
}

.product-form button {
  background: linear-gradient(to right, #d4af37, #ffcc80);
  border: none;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.alert-info {
  background-color: #fff3e0;
  border-color: #ffe0b2;
  color: #6d4c41;
  font-weight: 500;
  border-radius: 8px;
}



  

.product-table {
  background-color: #fff8e1;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.2);
  table-layout: fixed;
  width: 100%;

}

.product-table th {
  background-color: #ffe0b2;
  color: #5d4037;
  font-weight: bold;
  text-align: center;
}
td {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-table td {
  vertical-align: middle;
  text-align: center;
  color: #4e342e;
}

.product-table img {
  border: 2px solid #d4af37;
  box-shadow: 0 0 6px rgba(212, 175, 55, 0.5);
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}
.action-icon {
  cursor: pointer;
  font-size: 1.2rem;
  transition: transform 0.2s ease;
  min-width: 24px;
  will-change: transform;
}

.edit-icon {
  color: #fbc02d;
}

.delete-icon {
  color: #e53935;
}

.action-icon:hover {
  transform: scale(1.2);
}


.table-responsive {
  overflow-x: auto;
}